<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <script src="/socket.io/socket.io.js"></script>
<script>
const socket = io();
</script>
  <body>
    <h1>roomId</h>
    <div id="video-grid">
    </div>
    <script src="script.js"></script>
  </body>
</html>
